html,
body {
  padding: 0;
  margin: 0;
  width: 100vw !important;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.modal-content {
  background-color: #252525;
  width: 150%;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  position: relative;
  left: -90px;
}

.modal-body {
  padding: 0px !important;
  font-size: 12px;
  font-weight: 400;
}

.page__container {
  background-color: #252525;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.page__header {
  color: #fff;
  object-fit: contain;
  height: 200px;
  background-size: cover;
  background-position: center center;
  background-image: url('/images/bg-fr.png');
}

.page__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.page__overlay h3 {
  font-weight: 600;
  font-size: 35px;
}

.page__body {
  margin-top: 50px;
  overflow-y: auto;
  padding: 30px 10px;
}
