.container {
  background-color: #252525;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

.main {
  background-image: url('/images/home_bg.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  background-color: rgba(37, 37, 37, 0.8);
  min-height: 95vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-weight: 800;
  font-size: 3.5rem;
}

.subTitle {
  font-weight: 300;
}

.btn {
  background-color: #E1623A;
  color: #fff;
  height: 70px;
  padding: 15px 90px;
  border: none;
  border-radius: 35px;
}

.featuresContainer {
  padding: 5rem 6rem;
  text-align: center;
}

.sectionTitle {
  font-size: 1.8rem;
  font-weight: 500;
  color: #E1623A;
}

.featuresSubTitle {
  font-weight: 300;
  margin-bottom: 50px;
}

.cardContainer {
  display: flex;
  justify-content: center;
}

.slogan {
  font-size: 1.5rem;
  font-weight: 500;
}

.card {
  background-color: #474342;
  text-align: left;
  margin: 0 15px;
  padding: 2rem 1.5rem;
  border-radius: 5px;
}

.movieCard1 {
  background-image: url('/images/poster7.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  height: 456px;
  width: 364px;
  margin: 0 15px;
  border-radius: 5px;
}

.movieCard2 {
  background-image: url('/images/poster12.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  height: 456px;
  width: 364px;
  margin: 0 15px;
  border-radius: 5px;
}

.movieCard3 {
  background-image: url('/images/poster10.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  height: 456px;
  width: 364px;
  margin: 0 15px;
  border-radius: 5px;
}

.cta {
  background-color: #fff;
  padding: 4rem 6rem;
  color: #252525;
  display: flex;
}

.contentContainer {
  width: 70%;
  margin-right: 5rem;
}

.cta h2 {
  font-weight: 600;
  margin-bottom: 2rem;
}

.cta p {
  margin-bottom: 3rem;
}

.card h3 {
  font-size: 1.2rem;
  margin-top: 10px;
}

.card p {
  font-size: 1rem;
  font-weight: 200;
}

.footer {
  display: flex;
  flex: 1;
  padding: 1rem 0;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background-color: #fff;
  padding: 10px;
  border-radius: 35px;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.branding {
  margin-left: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerContent {
  margin-right: 6rem;
}

.footerContent span {
  margin: 0 15px;
  cursor: pointer;
}

.footerContent span:hover {
  color: #E1623A;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
