.loginContainer {
    background-image: url('/images/bg-fr.png'); 
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    background-color: rgba(37, 37, 37, 0.8);
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.formContainer {
    height: 594px;
    width: 652px;
    border-radius: 8px;
    background-color: #252525;
    justify-content: center;
    align-items: center;
    padding: 20px 70px;
}

.formHeader {
    color: #fff;
    margin-top: 50px;
}

.linkBtn {
    color: #fff;
    text-decoration: underline;
    margin-top: 30px;
    cursor: pointer;
}